template(name='slide1')
  +Surface size='[900, undefined]' align='[.5, .5]' origin='[.5, .5]'
    h2 Ottawa Meetup
    h1 Meteor & Famo.us
    img.gravatar(src='/img/gravatar.png')
    h2 9th Apr, 2015
    p These slides are available at:
      br
      a(href="http://meetup-fview-ottawa.meteor.com/") meetup-fview-ottawa.meteor.com
    .footer Gadi Cohen (gadicc)

template(name='slide2')
  +Surface size='[900, undefined]' align='[.5, .5]' origin='[.5, .5]'
    h2 Meetup Famous - The Speaker
    h3 So who am I?
    ul
      li 13 yrs PHP & MySQL experience
      li Meteor since 0.5.3 (Jan 13), Famo.us since beta
      li Currently working in a private start-up
      li Not a slidedeck master

    h3 Meteor community
    img(src="/img/meteor-messageformat.jpg",style="border: 1px solid black; float: right; box-shadow: 1px 1px 3px #999")
    ul
      li
        a(href="http://www.meteorpedia.com/",target="_TOP") Meteorpedia
        | (maintainer, co-author)
      li
        a(href="http://messageformat.meteor.com/",target="_TOP") meteor-messageformat
      li
        a(href="http://famous-views.meteor.com",target="_TOP") famous-views
      li
        a(href="https://atmospherejs.com/gadicohen",target="_TOP") ... and 21 others.
      br
      li active in
        a(href="https://groups.google.com/forum/#!forum/meteor-talk",target="_TOP") meteor-talk
      li
        a(href="http://usermap.meteor.com/",target="_TOP") usermap
        | ,
        a(href="http://doingthiswith.meteor.com/",target="_TOP") doingThisWith
        | , etc.
    .footer gadicc

template(name='slide3')
  +Surface size='[900, undefined]' align='[.5, .5]' origin='[.5, .5]'
    h2 "Made for each other"
    table(style="width: 100%")
      tr
        td(style="width: 50%")
          span(style="font-size: 48px; vertical-align: middle; position: relative; top: -12px")
            img(src="/img/meteor-logo.png",style="height: 50px; vertical-align: middle")
          ul
            li Full stack isomorphic framework
            li Fastest way to build "modern" apps
            li Official Cordova support
        td
          span(style="font-size: 48px; vertical-align: middle")
            | FAM
            img(src="/img/famous_logo.jpg",style="height: 50px; vertical-align: middle")
            | .US
          ul
            li Front end rendering framework
            li "Native" quality UX in JS, solves the final "HTML5 everywhere" obstacle
    div(style="font-align: center")
      p
        | Both are
        b
          | well-funded* companies founded by successful entrepreuners
          | and solving complementary problems
        | , freeing devs to focus
        | on their apps vs wasting time solving fundamental inadequacies of
        | old technology.
        span(style="font-size: 70%")
          | &nbsp;&nbsp;&nbsp; *Funding: Meteor ($11m); Famo.us ($30m)
    p
      | IMHO, no better, simpler, faster or funner way to build a
      br
      | single code-base app for all platforms, without compromise.
    .footer gadicc

template(name='slide4')
  +Surface size='[900, undefined]' align='[.5, .5]' origin='[.5, .5]'
    h2 Dev Setup
    table(style="width: 100%")
      tr
        td(valign="top",style="width: 50%; padding-right: 2px")
          span(style="font-size: 48px; vertical-align: middle")
            | VANILLA
            img(src="/img/famous_logo.jpg",style="height: 50px; vertical-align: middle")
          p(style="font-size: 80%") Once off:
          +prism(lang="bash")
            | $ npm install -g yo grunt-cli bower generator-famous
          p(style="font-size: 80%") Per app:
          +prism(lang="bash")
            | $ mkdir app
            | $ cd app
            | $ yo famous
            | $ grunt serve
        td(valign="top",style="width: 50%; padding-left: 2px")
          span(style="font-size: 48px; vertical-align: middle;")
            img(src="/img/meteor-logo.png",style="height: 50px; vertical-align: middle; position: relative; top: -12px")
            | +
            img(src="/img/famous_logo.jpg",style="height: 50px; vertical-align: middle")
          p(style="font-size: 80%")
            | For OS X and Linux: &nbsp; ( or use
            a(href="https://install.meteor.com/windows") Windows installer
            | )
          +prism(lang="bash")
            | $ curl https://install.meteor.com/ | sh
          p(style="font-size: 80%") Per app:
          +prism(lang="bash")
            | $ meteor create app
            | $ cd app
            | $ meteor add mjn:famous (or raix:famono)
            | $ meteor
    p
      | The above-right provides a vanilla Famo.us environment inside of
      | Meteor.  <i>mjn:famous</i> includes the full library as a global.
      | <i>raix:famono</i> bundles only what you use (via global usage).  Next
      | page: famous-views.
    .footer gadicc

template(name='slide5')
  +Modifier
    +Surface size='[900, undefined]' align='[.5, .5]' origin='[.5, .5]'
      h2 Famous-Views
      p
        i.fa.fa-download
        | 5,479 &nbsp;&nbsp;
        i.fa.fa-star
        | 70 (Atmosphere) &nbsp;&nbsp;
        i.fa.fa-star
        | 295 (GitHub)
      p "Doing Famo.us the Meteor Way"

      ul
        li <b>Primarily</b> - a low level wrapper around Famo.us
        li Create the render tree with <i>markup</i> and <i>reuseable templates</i>
        li Componentization via <i>inclusion</i> & <i>Template.x.rendered/events/helpers</i>
        li <i>famousEach</i> connects reactive data sources how you'd expect (demo later)
        li famousIf - as above for the Render Tree vs the DOM
        li View attributes accept flexible input and reactive helpers
        li Manages reactive computations for Meteor to avoid lost frames
        li Works out of the box with iron-router (e.g. this slidedeck)
      ul
        li Wrappers around some of the few Famo.us provided views
        li
          a(href="http://famous-views.meteor.com/plugins") 13 powerful plugins
          | and counting.
        li
          a(href="https://github.com/meteor-useraccounts/famous-wrapper/") useraccounts:famous-wrapper
      .footer gadicc
    +Surface size="[230,230]" align='[0.93,0.93]' origin='[1,1]'
      img(src="/img/meteor_famous_view_logo.svg",style="width:100%")

template(name='slide6')
  +Surface size='[900, undefined]' align='[.5, .5]' origin='[.5, .5]'
    p(style="font-weight: bold; margin-top: .5em; margin-bottom: 10px; font-size: 80%")
        | Famous-Views Contributors
    img(src="/img/contributors.jpg",style="width:90%; margin-top: 5px")
    br
    span(style="vertical-align: middle")
      | and
      img(src="/img/splendido.jpg",style="height: 1.5em; vertical-align: middle")
      b @splendido
      | with
      a(href="https://github.com/meteor-useraccounts/famous-wrapper/") useraccounts:famous-wrapper
      | .
template(name='slide7')
  +Surface size='[900, undefined]' align='[.5, .5]' origin='[.5, .5]'
    h2 Meetup Famous - Getting Started
    p famous-views -
      a(href="http://famous-views.meteor.com/start") QuickStart
    +prism lang="bash"
      | $ meteor create app
      | $ cd app
      | 
      | # for Meteor >= 0.9.3 (!!)
      | $ meteor add mjn:famous OR raix:famono  # raix:famono since 0.9.14
      | $ meteor add gadicohen:famous-views     # ^__ released 2014-10-28
      | 
      | # Optional packages
      | $ meteor add mquandalle:jade            # if you want to use Jade
      | $ meteor add coffeescript               # if you want to use CoffeeScript
    p Other options
    ul
      li 
        code git clone https://github.com/gadicc/fview-quickstart.git
      li
        a(href="http://meteorpad.com/pad/ZGTm3XkR66n62xbZv") QuickStart on MeteorPad
      li
        | New Pad on
        a(href="http://fview-lab.meteor.com/") FView Lab
    .footer gadicc


template(name='slide8')
  +Surface size='[900, undefined]' align='[.5, .5]' origin='[.5, .5]'
    h2 JavaScript vs Markup: Surface
    table(style="width: 100%")
      tr
        td(valign="top",style="width: 50%; padding-right: 2px")
          span(style="font-size: 48px; vertical-align: middle")
            | VANILLA
            img(src="/img/famous_logo.jpg",style="height: 50px; vertical-align: middle")
          +prism(lang="javascript")
            | var mainContext = Engine.createContext();
            | 
            | var firstSurface = new Surface({
            |   content: "&lt;h3>Hi!&lt;/h3>&lt;p>I'm a surface!&lt;br>I live" +
            |     " inside a context.&lt;/p>&lt;p>You can add &lt;b>HTML&lt;/b>" +
            |     " content to me and style me with&lt;b>CSS!&lt;/b>&lt;/p>",
            |   size: [200, 200],
            |   properties: {
            |     backgroundColor: 'rgb(240, 238, 233)',
            |     etc...
            |   }
            | });
            | 
            | mainContext.add(firstSurface);
        td(valign="top",style="width: 50%; padding-left: 2px")
          span(style="font-size: 48px; vertical-align: middle;")
            img(src="/img/meteor_famous_view_logo.svg",style="height: 50px; vertical-align: middle; position: relative; top: -12px")
            | FAMOUS-VIEWS
          +snippet(lang="spacebars")
            | &lt;body>
            |   {{dstache}}famousContext id="mainCtx"}}
            |     {{dstache}}Surface size="[200,200]"
            |         style="background: rgb(240,238,233); etc..."}}
            |       &lt;h3>Hi!&lt;/h3>
            |       &lt;p>I'm a surface!&lt;br>I live inside a context&lt;/p>
            |       &lt;p>You can add &lt;b>HTML&lt;/b> content to me and
            |         style me with &lt;b>CSS!&lt;/b>
            |     {{dstache}}/Surface}}
            |   {{dstache}}/famousContext}}
            | &lt;/body>
          else
            if currentLang "jade"
              | body
              |   +famousContext id="mainCtx"
              |     +Surface size="[200,200]" style="background: etc"
              |       h3 Hi!
              |       p I'm a surface! &lt;br> I live inside a context
              |       p You can add &lt;b>HTML&lt;/b> content to me and
              |         | style me with &lt;b>CSS!&lt;/b> 
    .footer gadicc

template(name='slide9')
  +Surface size='[900, undefined]' align='[.5, .5]' origin='[.5, .5]'
    h2 JavaScript vs Markup: StateModifier Animation
    table(style="width: 100%")
      tr
        td(valign="top",style="width: 50%; padding-right: 2px")
          span(style="font-size: 48px; vertical-align: middle")
            | VANILLA
            img(src="/img/famous_logo.jpg",style="height: 50px; vertical-align: middle")
          +prism(lang="javascript")
            | var mainContext = Engine.createContext();
            | 
            | var surface = new Surface({
            |   size: [100, 100],
            |   properties: { background: '#FA5C4F', etc },
            |   content: 'Hi!'
            | });
            | 
            | var stateModifier = new StateModifier();
            | 
            | mainContext.add(stateModifier).add(surface);
            | 
            | stateModifier.setTransform(
            |   Transform.translate(100, 300, 0),
            |   { duration : 1000, curve: Easing.inOutBack }
            | );
        td(valign="top",style="width: 50%; padding-left: 2px")
          span(style="font-size: 48px; vertical-align: middle;")
            img(src="/img/meteor_famous_view_logo.svg",style="height: 50px; vertical-align: middle; position: relative; top: -12px")
            | FAMOUS-VIEWS
          +snippet(lang="spacebars")
            | &lt;body&gt;
            |   {{dstache}}famousContext id="mainCtx"}}
            |     {{dstache}}&gt;Surface template="mySurface" modifier="StateModifier"
            |       size="[100,100]" style="background: '#FA5c4F'; etc"}}
            |   {{dstache}}/famousContext}}
            | &lt;/body&gt;
            | 
            | &lt;template name="mySurface"&gt;Hi!&lt;/template&gt;
          else
            if currentLang "jade"
              | body
              |   +famousContext id="mainCtx"
              |     +Surface template="mySurface" modifier="StateModifier"
              | 
              | template(name="mySurface")
              |   | Hi!
          +snippet(lang="js")
            | Template.mySurface.onRendered(function() {
            |   var templateInstance = this;
            |   var fview = FView.from(this);
            | 
            |   fview.modifier.setTransform(
            |     Transform.translate(100, 300, 0),
            |     { duration : 1000, curve: Easing.inOutBack }
            |   );
            | });
    .footer gadicc

template(name='slide10')
  +Surface size='[900, undefined]' align='[.5, .5]' origin='[.5, .5]'
    h2 More advanced example
    +snippet lang="spacebars"
      | {{dstache}}#Scrollview}}
      |   {{dstache}}#famousEach items}}
      |     {{dstache}}>Surface template="item" modifier="StateModifier" size="[undefined,200]"}}
      |   {{dstache}}/famousEach}}
      | {{dstache}}/Scrollview}}
    +snippet lang="javascript"
      | Template.body.helpers({
      |   items: function() { return Items.find(); }
      | });
      | 
      | Template.item.onRendered(function() {
      |   var modifier = FView.from(this).modifier;
      |   modifier.setTransform(Transform.translate(-500,-500));
      |   queue(100, function() {
      |     modifier.setTransform(Transform.translate(0,0),
      |       { duration: 500, curve: 'easeOut' } );
      |  });
      | });
      | 
      | Template.item.famousEvents({
      |   'click': function(event, fview) {
      |     fview.modifier.setTransform(...);
      |   }
      | });
    span See
      a(href="http://famous-views.meteor.com/views/GridLayout") GridLayout Example
    .footer gadicc

template(name='slide11')
  +Surface size='[900, undefined]' align='[.5, .5]' origin='[.5, .5]'
    h2 Meetup Famous - Real Time Example
    p Using
      a(href="http://fview-lab.meteor.com/") FView-Lab
    a(href="https://atmospherejs.com/mjn/fview-animate")
      img(src="/img/fview-animate.jpg",style="border: 1px solid black; float: right; height: 10em; box-shadow: 1px 1px 3px #999")
    ul
      li Like we did in vanila Famous:
      ul
        li Show a Surface
        li Use a Modifier
        li Basic animation
      br
      li Setup a Scrollview
      ul
        li Use a collection
        li Switch to fview-flexgrid

    p From
      a(href="http://famous-views.meteor.com/") famous-views.meteor.com
    ul
      li Reactivity, timbre, animations
      li Testimonials:
        a(href="http://poodler.meteor.com/") Poodler
        | (
        a(href="https://github.com/rteslaru/poodler") source
        | )
      li
        a(href="http://famous-views.meteor.com/plugins") Plugins
      ul
        li
          a(href="http://fview-flex.meteor.com/") fview-flex
    .footer gadicc

template(name='_slide12')
  | in slide12.jade

template(name='slide13')
  +Surface size='[900, undefined]' align='[.5, .5]' origin='[.5, .5]'
    h2 Reactive Queries - Source - Template
    +prism lang="jade" class="line-numbers"
      | template(name='slide12')
      |   +SequentialLayout size="[900,undefined]" align='[.5,.5]' origin='[.5,.5]'
      |     +Surface template="slide12_options" size='[undefined,true]'
      |     +ContainerSurface perspective=500 overflow="hidden"
      |       +FlexScrollView layout='CollectionLayout' layoutOptions='{"itemSize":[125,125],"spacing":[10,10]}'
      |         +famousEach users
      |           +Surface template="slide12_user"
      | 
      | template(name='slide12_options')
      |   p(style="margin: 1em 0 10px 0;")
      |     b Reactive Queries - Demo
      |     br
      |     a(href="/slides/12") meetup-fview-ottawa.meteor.com/slides/12
      |   span
      |     | Sort by: &nbsp;
      |     +each sortByOptions
      |       label
      |         input(type="radio",value="&num;{this}",checked=checked)
      |         | &num;{this} &nbsp;&nbsp;
      |     +loginButtons
      |     br
      |     br
      | 
      | template(name='slide12_user')
      |   div.profile
      |     img(src="&num;{profile.pic}")
      |     div &num;{profile.name}
    .footer gadicc

template(name='slide14')
  +Surface size='[900, undefined]' align='[.5, .5]' origin='[.5, .5]'
    h2 Reactive Queries - Source - Code
    +snippet(lang="js")
      | // Publish and AccountsExtra setup in server/accounts.js
      | Meteor.subscribe('users');
      | 
      | Template.slide12.helpers({
      |   users: function() {
      |     var sortBy = Session.get('sortBy');
      |     var options = { sort: {} };
      |     if (sortBy === 'name')
      |       options.sort['profile.name'] = 1;
      |     else
      |       options.sort.createdAt = 1;
      | 
      |     return Meteor.users.find({}, options);
      |   }
      | });
      | 
      | Session.setDefault('sortBy', 'name');
      | 
      | Template.slide12_options.events({
      |   'click input': function(event, tpl) {
      |     Session.set('sortBy', this.valueOf());
      |   }
      | });
      | 
      | Template.slide12_options.helpers({
      |   sortByOptions: [ 'name', 'date' ],
      |   checked: function() {
      |     return Session.equals('sortBy', this.valueOf());
      |   }
      | });
    .footer gadicc

template(name='slide15')
  +Surface size='[900, undefined]' align='[.5, .5]' origin='[.5, .5]'
    h2 Advantages of Meteor, Famous, Famous-Views
    p The <b><i>Meteor Advantage</i></b> - short, clean code with powerful results.
    ul
      li Meteor brings a full stack framework to Famous, with real time updates,
        | reactivity, client-side database layer and everything we love about it,
        | including official Cordova support.
      li Famous brings native-feeling animations and user interactions to
        | Meteor.
      li Famous-views combines the two and let's us write Famo.us apps in a
        | "Meteor" way.
    p
      b Where it Shines
    ul
      li Fastest, easiest, funnest way to build multi platform apps
      li Reactivity lets us describe our layout declaratively rather than
        | worrying about updating dependencies ourselves.
      li Meteor "live" factor with Famo.us animations really shines,
        | and requires very little time to implement.  i.e. much lower
        | barrier to make your app a UI pleasure.

template(name='slide16')
  +Surface size='[900, undefined]' align='[.5, .5]' origin='[.5, .5]'
    h2 Meetup Famous - Famo.us Pros & Cons
    ul
      li Pros
      ul
        li Unbeatable performance and flexibility
        li Solid foundation that's getting better and better
        li Good attitude, Famo.us Labs, not going anywhere
      li Cons
      ul
        li 0.3 release.  Not 100% stable nor complete.  Few tests.
        li API changing for Mixed Mode around April.
        li App "success stories" worked 1-on-1 with Famo.us
        li Very few widgets, most stuff is very low level

    p What does the future hold?
    ul
      li Mixed Mode ( DOM + Canvas +
        a(href="http://caniuse.com/#search=webgl") WebGL
        |)
      li jQuery
      li Bootstrap
      li "fview-ionic"

    .footer gadicc

template(name="slide17")
  +Surface size='[900, undefined]' align='[.5, .5]' origin='[.5, .5]'
    h2 Meetup Famous - That's it!

    h3 Any Questions?  Some useful links:

    img(src="/img/meteor_famous_view_logo.svg",style="float: right; height: 5em")
    p famous-views / slidedeck
    ul
      li
        a(href="http://famous-views.meteor.com/") famous-views.meteor.com
        | - demo/docs, github, plugins
      li
        a(href="http://meetup-fview-ottawa.meteor.com/") meetup-fview-ottawa.meteor.com
        | (
        a(href="https://github.com/gadicc/meetup-fview-ct") source
        | )
      br
      li
        a(href="http://fview-lab.meteor.com/") FView-Lab (pre-release):
        ul
          li
            a(href="https://fview-lab.meteor.com/pads/qXd9Zm6bPm8NiuZeX") Intro to Meteor
          li
            a(href="https://fview-lab.meteor.com/pads/8qodSnNyLjdcKx3WK") FView Quick Start
          li
            a(href="https://fview-lab.meteor.com/fview-team") fview-team page

    span General
    ul
      li
        a(href="http://www.meteor.com/") Meteor Homepage
        | |
        a(href="http://www.atmospherejs.com/") Atmosphere
      li
        | Famo.us
        a(href="http://famo.us/") Homepage
        | |
        a(href="http://famo.us/university/home/#/") University

    span Questions later?  Meetup group, GitHub issue.
    .footer gadicc
